.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  padding: 10px $left-right-pad;
  background-color: $faded-blue;
  color: white;

  ul {
    display: flex;
    align-items: center;
    height: 100%;

    li {
      cursor: pointer;
    }
    li:first-child {
      font-size: 1.1rem;
    }
    .icon {
      margin-right: 15px;
      margin-left: 20px;
      font-size: 1.2rem;
      cursor: pointer;
    }
    li:nth-child(3) {
      font-size: 2rem;
    }
  }
  .user-icon {
    position: relative;
    .user-dropdown {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: -$header-height + 12;
      right: 0;
      width: 320px;

      li {
        font-size: 1rem;
        background-color: $faded-blue;
        padding: 15px;
        width: 100%;
      }

      li:last-child {
        border-radius: 0 0 10px 10px;
      }

      li:hover {
        background-color: red;
      }
    }
  }
}
